li > .isDragging {
  cursor: move;
  color: lightgray;
}

.noDragging {
  cursor: default;
}

.item {
  box-sizing: border-box;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  min-height: 30px;
  padding: 12px;
}
